set completion-ignore-case On
# Use <up> and <down> to search based on what was already typed
"\e[A": history-search-backward
"\e[B": history-search-forward

# For zsh append to ~/.zshrc
:'
autoload -Uz up-line-or-beginning-search down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search

[[ -n "${key[Up]}"   ]] && bindkey -- "${key[Up]}"   up-line-or-beginning-search
[[ -n "${key[Down]}" ]] && bindkey -- "${key[Down]}" down-line-or-beginning-search
'
